<?xml version="1.0"?>
<appSettings>

  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="enableSimpleMembership" value="false" />
  <add key="autoFormsAuthentication" value="false" />
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="true" />
  <add key="elmah.mvc.allowedRoles" value="Administrator" />
  <add key="elmah.mvc.route" value="elmah" />


  <!--<add key="Packaging.SiteTheme" value="PersianHoney" />
    <add key="Packaging.SiteTypeCms" value="false" />
    <add key="Packaging.SiteTypeEShop" value="true" />
    <add key="Packaging.SiteTypePortal" value="false" />-->


  <!--<add key="Packaging.SiteTheme" value="DrAfrasiabi" />
  <add key="Packaging.SiteTypeCms" value="true" />
  <add key="Packaging.SiteTypeEShop" value="false" />
  <add key="Packaging.SiteTypePortal" value="false" />-->


  <!--<add key="Packaging.SiteTheme" value="Adonis" />
  <add key="Packaging.SiteTypeCms" value="true" />
  <add key="Packaging.SiteTypeEShop" value="false" />
  <add key="Packaging.SiteTypePortal" value="false" />-->


  <!--<add key="Packaging.SiteTheme" value="Massageabc" />
  <add key="Packaging.SiteTypeCms" value="true" />
  <add key="Packaging.SiteTypeEShop" value="false" />
  <add key="Packaging.SiteTypePortal" value="false" />-->


  <!--<add key="Packaging.SiteTheme" value="TarnamaNewsWarta" />
  <add key="Packaging.SiteTypeCms" value="true" />
  <add key="Packaging.SiteTypeEShop" value="false" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.PhoneBooks" value="true" />
  <add key="Packaging.PageThumbnailImageUrlHeight" value="120" />
  <add key="Packaging.PageThumbnailImageUrlWidth" value="160" />-->


  <!--<add key="Packaging.SiteTheme" value="IranSoftjo" />
  <add key="Packaging.SiteTypeCms" value="false" />
  <add key="Packaging.SiteTypeEShop" value="true" />
  <add key="Packaging.SiteTypePortal" value="false" />-->

  <!--<add key="Packaging.SiteTheme" value="Portal.IranSoftjo" />
    <add key="Packaging.SiteTypeCms" value="false" />
    <add key="Packaging.SiteTypeEShop" value="true" />
    <add key="Packaging.SiteTypePortal" value="false" />-->

  <!--<add key="Packaging.SiteTheme" value="Darmanmed" />
  <add key="Packaging.SiteTypeCms" value="false" />
  <add key="Packaging.SiteTypeEShop" value="true" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.ProductThumbnailImageUrlHeight" value="380" />
  <add key="Packaging.ProductThumbnailImageUrlWidth" value="230" />-->

  <!--<add key="Packaging.SiteTheme" value="IranSoftjoProgressive" />
  <add key="Packaging.SiteTypeCms" value="true" />
  <add key="Packaging.SiteTypeEShop" value="false" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.PhoneBooks" value="true" />
  <add key="Packaging.PageThumbnailImageUrlHeight" value="120" />
  <add key="Packaging.PageThumbnailImageUrlWidth" value="160" />-->  
  
  <!--<add key="Packaging.SiteTheme" value="MarenaGroup" />
  <add key="Packaging.SiteTypeCms" value="false" />
  <add key="Packaging.SiteTypeEShop" value="true" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.PhoneBooks" value="false" />
  <add key="Packaging.PageThumbnailImageUrlHeight" value="120" />
  <add key="Packaging.PageThumbnailImageUrlWidth" value="160" />-->
  
  <!--<add key="Packaging.SiteTheme" value="MamService" />
  <add key="Packaging.SiteTypeCms" value="true" />
  <add key="Packaging.SiteTypeEShop" value="false" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.PhoneBooks" value="false" />
  <add key="Packaging.PageThumbnailImageUrlHeight" value="120" />
  <add key="Packaging.PageThumbnailImageUrlWidth" value="160" />-->
  

  <!--<add key="Packaging.SiteTheme" value="apneng" />
  <add key="Packaging.SiteTypeCms" value="false" />
  <add key="Packaging.SiteTypeEShop" value="true" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.PhoneBooks" value="false" />
  <add key="Packaging.ProductThumbnailImageUrlHeight" value="225" />
  <add key="Packaging.ProductThumbnailImageUrlWidth" value="200" />
  <add key="Packaging.PageThumbnailImageUrlHeight" value="100" />
  <add key="Packaging.PageThumbnailImageUrlWidth" value="145" />--> 
  
  <add key="Packaging.SiteTheme" value="Manhol" />
  <add key="Packaging.SiteTypeCms" value="false" />
  <add key="Packaging.SiteTypeEShop" value="true" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.PhoneBooks" value="true" />
  <add key="Packaging.PageThumbnailImageUrlHeight" value="150" />
  <add key="Packaging.PageThumbnailImageUrlWidth" value="100" />

  <!--<add key="Packaging.SiteTheme" value="Raspod" />
  <add key="Packaging.SiteTypeCms" value="false" />
  <add key="Packaging.SiteTypeEShop" value="true" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.PhoneBooks" value="true" />
  <add key="Packaging.PageThumbnailImageUrlHeight" value="150" />
  <add key="Packaging.PageThumbnailImageUrlWidth" value="100" />-->


  <!--<add key="Packaging.SiteTheme" value="AriaGreen" />
  <add key="Packaging.SiteTypeCms" value="false" />
  <add key="Packaging.SiteTypeEShop" value="true" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.PhoneBooks" value="true" />
  <add key="Packaging.PageThumbnailImageUrlHeight" value="150" />
  <add key="Packaging.PageThumbnailImageUrlWidth" value="100" />-->

  <!--<add key="Packaging.SiteTheme" value="AriaWater" />
  <add key="Packaging.SiteTypeCms" value="false" />
  <add key="Packaging.SiteTypeEShop" value="true" />
  <add key="Packaging.SiteTypePortal" value="false" />
  <add key="Packaging.PhoneBooks" value="true" />
  <add key="Packaging.PageThumbnailImageUrlHeight" value="150" />
  <add key="Packaging.PageThumbnailImageUrlWidth" value="100" />-->
  
</appSettings>