@{
    ViewBag.Title = "دیکشنری یا مترجم";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<hgroup class="title">
    <h1>دیکشنری یا مترجم</h1>
    <hr />
    <h2> ترجمه لغات از هر زبانی به هر زبان دیگر امکان پذیر میباشد</h2>
</hgroup>
<script type='text/javascript' src='http://blogers.ir/cod/tl/dic/cod.php?border=000000&bgcolor=D6D6CE&tcolor=000000&ttext=سلام&btext=محل-نمایش-معنی&loadingimage=10&width=1&border=000000'></script>
<br/>
@Html.ActionLink("بازگشت به لیست ماژول ها","BuyCms", "Home",null, new {@class = "k-button k-button-icontext"} )

