@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "نقشه آنلاین بازرسی ها";
    ViewBag.HomeIndex = "HomeIndex";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC4QY3t06BnpiMl-0rgHG9-Pe8MdLlq5W0&sensor=false"></script>
<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        Initialize();
    });

    // Where all the fun happens
    function Initialize() {

        // Google has tweaked their interface somewhat - this tells the api to use that new UI
        google.maps.visualRefresh = true;
        var Liverpool = new google.maps.LatLng(35.7, 51.4);

        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        var mapOptions = {
            zoom: 11,
            center: Liverpool,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // This makes the div with id "map_canvas" a google map
        var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        // This shows adding a simple pin "marker" - this happens to be the Tate Gallery in Liverpool!
        var myLatlng = new google.maps.LatLng(35.71, 51.42);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Tate Gallery'
        });


       
        var infowindow = new google.maps.InfoWindow({
            content: "<div class='infoDiv'>" +
                "<hr/>" +
                "منهول هنوز بازدید نشده است  </div>"
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });

        // You can make markers different colors...  google it up!
        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')
        //35.7, 51.4
        // a sample list of JSON encoded data of places to visit in Liverpool, UK
        // you can either make up a JSON list server side, or call it from a controller using JSONResult
        var data = [
            { "Id": 1, "PlaceName": "کد پی ام :21052405 <br/> بازدید توسط : حسن عابدی", "OpeningHours": " 1394/01/18 09:50", "GeoLong": "35.72", "GeoLat": "51.41" },
            { "Id": 2, "PlaceName": "کد : 02154255", "OpeningHours": "9:10", "GeoLong": "35.73", "GeoLat": "51.45" },
            { "Id": 3, "PlaceName": "کد :21548855", "OpeningHours": "9:30", "GeoLong": "35.74", "GeoLat": "51.43" },
        ];


        // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
        $.each(data, function (i, item) {
            var marker = new google.maps.Marker({
                'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                'map': map,
                'title': item.PlaceName
            });

            // Make the marker-pin blue!
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

            // put in some information about each json object - in this case, the opening hours.
            var infowindow = new google.maps.InfoWindow({
                content: "<div class='infoDiv'>" +
                    "<h2>" + item.PlaceName + "</h2>" +
                    "<div><h4>زمان بازدید: " + item.OpeningHours + "</h4>" +
                    "<h4>نوع منهول : چدن</h4></div></div>"
            });

            //google.maps.event.addListener(map, 'click', function (event) {
            //    alert("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng());
            //});

            // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
          
            });

       

        });
    }
</script>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <aside class="widget widget_warta_slider_tabs">
                    <div id="slider-tabs-768237792">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab"> نقشه آنلاین بازرسی ها در این لحظه (آبی:بازرسی شده) </a></li>
                        </ul>
                        <div class="tab-content">

                            <div id="googleMap" style="width:100%;height:550px;"></div>

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

