<div class="container">
    <section class="main">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-1">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                                <h3><a href="@Url.Action("PageText", "Home", new { pageId = 1 })">بزرگ کردن سینه</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-2">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-2"></div>
                            <div class="ch-info-back">
                                <h3><a href="@Url.Action("PageText", "Home", new { pageId = 2 })">کوچک کردن سینه</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-3">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-3"></div>
                            <div class="ch-info-back">
                                <h3><a href="@Url.Action("PageText", "Home", new { pageId = 3 })">بالا بردن سینه</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-4">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-4"></div>
                            <div class="ch-info-back">
                                <h3><a href="@Url.Action("PageText", "Home", new { pageId = 4 })">باز سازی سینه</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
