<div class="container">
    <section class="main">
        <ul class="ch-grid">
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <h3><a href="@Url.Action("PageText", "Home", new { pageId = 1004 })"> ابدومینوپلاستی</a></h3>
                    </div>
                    <div class="ch-thumb ch-img-5"></div>
                </div>
            </li>
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <h3><a href="@Url.Action("PageText", "Home", new { pageId = 1007 })"> لیپو ساکشن </a></h3>
                    </div>
                    <div class="ch-thumb ch-img-6"></div>
                </div>
            </li>
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <h3><a href="@Url.Action("PageText", "Home", new { pageId = 1008 })"> لیفت بازو </a></h3>
                    </div>
                    <div class="ch-thumb ch-img-7"></div>
                </div>
            </li>
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <h3><a href="@Url.Action("PageText", "Home", new { pageId = 1009 })"> لیفت ران </a></h3>
                    </div>
                    <div class="ch-thumb ch-img-8"></div>
                </div>
            </li>

        </ul>
    </section>
</div>
