 <div id="custom-menu" style="float: left; margin-left: 0px; margin-top: 0px;" class="b-menu">
     <b style="margin: -20px 0 -10px 0 ; float: right; padding-left: -10px; color: white ">رفتن به صفحه</b>
     <div class="b-selector b-selector-page">
     </div>
 </div>