@using IranSoftjo.Core.Web.Mvc.Html
@using IranSoftjo.WebUi.Controllers
@model dynamic
@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<hgroup class="title">
    <h1>تماس با ما</h1>
    <hr />
</hgroup>
<p>
<p>
    امروزه اصلی ترین و شاید مهمترین انگیزه متقاضیان برای طراحی سایت ، اطلاع رسانی پیرامون شخص ،
        سازمان یا شرکت مربوطه می باشد در این اطلاع رسانی به معنای معرفی پیشینه و سوابق ، 
        اهداف و چشم اندازها , معرفی و فروش محصولات یا خدمات و ... در بستر اینترنت است.
</p>

<p>
    خدمات طراحی و تولید وب سایت و خدمات تولید نرم افزار های تحت وب و ویندوز <b>شرکت ایران سافتجو</b> ، با توجه به نیازهای مشتری، نوع فعالیت و متناسب با بودجه در نظر گرفته شده برای آن صورت می پذیرد.
    در دنیای حرفه ای طراحی و تولید وب سایت یک علم محسوب شده و روز به روز در حال تکمیل و خلق ایده های جدید در پیاده سازی می باشد. 
</p>
<p>
    طراحی سایت حوزه گسترده ای را شامل می شود 
    ، از خلق یک ایده گرافیکی و چیدمان عناصر وب آغاز می شود و بعد از استاندارد سازی عناصر (usability) به مرحله پیاده سازی JavaScript , CSS , HTML بر اساس استانداردهای 
    سازمان جهانی وب W3C می رسد و با بهینه سازی برای افزایش سرعت بارگزاری صفحات تکمیل می گردد 
    .یک طراحی سایت زیبا و در عین حال استاندارد ، هم میتواند باعث جذب کاربران شود و هم می تواند
    .افزایش سرعت بارگزاری صفحه و همچنین بهتر اسکن شدن توسط موتورهای جستجو را رقم بزند 
  
</p>

<p>
    <b>شرکت ایران سافتجو</b> کار خود را از سال ۱۳۸۵ با تولید نرم افزار های تحت ویندوز آغاز نمود
    و هم اکنون تیم کاری شرکت قدم به سوی تولید و طراحی نرم افزار و همچنین وب سایت با کمترین هزینه و با بیشترین امکانات برای مشتریان فراهم سازد.
</p>
<p>
    به منظور درک کامل خواسته های شما از طراحی وب سایت و 
    یا ارسال یک   <b>مشاوره رایگان در محل کار شما  </b>، کافیست با ما تماس بگیرید .
</p>
<style>
    p
    {
        text-align: justify;
    }
</style>
<br />
<br />
<div class="BoxWelcome">
    <img src="~/Images/Common/qrcode.png" alt="بارکد" style="float: left" />
    <div style="float: right">
        <span class="label">تلفن های شرکت:</span>
        <br />
        <span class="PhoneNumber">22144703 - 021  </span>(دفتر مرکزی - سعادت آباد)
    <br />
        <span class="PhoneNumber">76289094 - 021</span>(دفتر فنی - پردیس)
    <br />
        <br />
        <span class="label">تماس مستقیم :</span>
        <span class="PhoneNumber">4094634 - 0912</span>
        <br />
        <br />
        <span class="label">رایانامه شرکت:</span>
        <span>Info[at]IranSoftjo.com</span>
        <br />
        <br />
        <span class="label"><a href="@Url.Action("OnlineContact")">ارتباط آنلاین با ما</a></span>
        <br />
        <br />
    </div>
</div>

<style>
    .PhoneNumber
    {
        direction: ltr;
    }
    .BoxWelcome {
        height: 200px;
    }
</style>
