@model dynamic
@{
    ViewBag.Title = "RSS";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<hgroup class="title">
    <h1>RSS</h1>
    <hr />
</hgroup>
<a href="@Url.Action("Rss","Home")">لیست اخبار </a>
<br/>
<hr/>
