@using IranSoftjo.Core.Web.Mvc.Html
@model  IranSoftjo.Package.WebUi.ViewModels.PhoneBookVM
@{
    ViewBag.Title = "موبایل ها";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    <table class="form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.EnhancedTextAreaField(model => model.Mobile, new { style = "height:400px;width:800px" })
    </table>
}
<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
