@using IranSoftjo.Core.Web.Mvc
@using IranSoftjo.Package.DataModel
@{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
 
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-soft  " id="blockui_sample_1_portlet_body">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-exchange font-green-sharp"></i>
                    <span class="caption-subject sbold">@ViewBag.Title</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="featured-box featured-box-primary" style="margin-top: 0px;">
                    <div class="box-content">
                        @Html.GetMessage("/Content/emsgIcon.gif")
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @RenderSection("scripts", required: false)
}