@model string
<div class="BreadCrumbPage">
    @Html.ActionLink(" لیست" + Model + "ها ", "Index")
    <strong>>></strong>
    @Html.ActionLink(Model, "Create")
    <strong>>></strong>
    
    
    <a href="/Software"> لیست محصول ها </a>
    <strong>>></strong>
    <a href="/Software/Create">محصول</a>
    <strong>>></strong>

</div>
