<link rel="stylesheet" type="text/css" href="/Content/CreativeCSS3AnimationMenus/style7.css" />
<link rel="stylesheet" type="text/css" href="/Content/CreativeCSS3AnimationMenus/stylesheet.css" />
<div class="container">
    <div class="content">
        <ul class="ca-menu">
              <li>
                <a href="@Url.Action("List","Agency")">
                    <span class="ca-icon">&#75;</span>
                    <div class="ca-content">
                        <h2 class="ca-main">نمایندگی</h2>
                             <h3 class="ca-sub">جهت دریافت نمایندگی کلیک کنید</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="@Url.Action("List","GalleryGroup")">
                    <span class="ca-icon">I</span>
                    <div class="ca-content">
                        <h2 class="ca-main">گالری</h2>
                        <h3 class="ca-sub">جهت مشاهده گالری عکس کلیک کنید</h3>
                    </div>
                </a>
            </li>
           <li>
                <a href="@Url.Action("List","Product")">
                    <span class="ca-icon">&#90;</span>
                    <div class="ca-content">
                        <h2 class="ca-main">محصولات</h2>
                        <h3 class="ca-sub">جهت مشاهده محصولات کلیک کنید</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
