<div class="span12 main-slider">
    <div id="layerslider-container">
        <div id="layerslider" style="height: 380px; width: 100%;">
            <div class="ls-layer" style="slidedelay: 4000">
                <span class="ls-bg bg3" style="delayin: 0; durationin: 1000; durationout: 1000; easingin: easeOutExpo; right: 0px; slidedisrection: fade;"></span>
                <div class="ls-s1 hidden-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 0px; slidedirection: right; slideoutdirection: right; top: 0px;">
                    <img alt="" src="/Package/Darmanmed/images/gallery/Marena.png" />
                </div>
                <img alt="" src="/Package/Darmanmed/images/gallery/Marena.png" class="ls-s6 visible-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 80%; slidedirection: right; slideoutdirection: right; top: 0px;" />
                <span class="ls-s2" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 35px; slidedirection: left; slideoutdirection: left; top: 80px;" /></span>

                <a target="_blank" href="http://www.marenagroup.ir" class="ls-s3" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 190px; slidedirection: bottom; slideoutdirection: bottom; top: 230px;">MarenaGroup.ir</a>
                <div class="ls-s4 hidden-phone" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 150px; slidedirection: right; slideoutdirection: right; top: 140px;">
                    کمپانی بزرگ مارنا دارای سه برند در سه بخش گن های پس از جراحی با نام Marena
                    ،ورزشی با نام Athletics8 و روزانه با نام Vera Vasi
                    است.
                    <br />
                    این کمپانی به عنوان برترین و نوآورترین تولید کننده گن ضد میکروب درجهان شناخته می شود.
                </div>
                <div class="ls-s5" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 120px; slidedirection: top; slideoutdirection: top; top: 100px;">  تنها نماینده رسمی گن های مارنا</div>
            </div>

            <div class="ls-layer" style="slidedelay: 4000">
                <span class="ls-bg bg2" style="delayin: 0; durationin: 1000; durationout: 1000; easingin: easeOutExpo; right: 0px; slidedisrection: fade;"></span>
                <div class="ls-s1 hidden-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 0px; slidedirection: right; slideoutdirection: right; top: 0px;">
                    <img alt="" src="/Package/Darmanmed/images/gallery/34.png" />
                </div>
                <img alt="" src="/Package/Darmanmed/images/gallery/34.png" class="ls-s6 visible-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 70%; slidedirection: right; slideoutdirection: right; top: 0px;">
                <span class="ls-s2" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 35px; slidedirection: left; slideoutdirection: left; top: 80px;" /></span>

                @*<a href="@Url.Action("List", "Product")" class="ls-s3" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 190px; slidedirection: bottom; slideoutdirection: bottom; top: 230px;">
                        تنها با یک کلیک
                    </a>*@
                <div class="ls-s4 hidden-phone" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 150px; slidedirection: right; slideoutdirection: right; top: 160px;">
                    شرکت درمان گستر آپادانا با تجربه 20 سال واردات در این حوزه نماینده رسمی و انحصاری کمپانی های
                    گن مارنای امریکا
                    ، پروتز فک و صورت
                    Implantech
                    امریکا و
                    قدیمی ترین تولید کننده پروتزهای اینترنال سینه Eurosilicone و ... در ایران می باشد
                    .
                </div>
                <div class="ls-s5" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 110px; slidedirection: top; slideoutdirection: top; top: 100px;">
                    تجهیزات پزشکی،زیبایی و ترمیمی
                </div>
            </div>

            <div class="ls-layer" style="slidedelay: 4000">
                <span class="ls-bg bg3" style="delayin: 0; durationin: 1000; durationout: 1000; easingin: easeOutExpo; right: 0px; slidedisrection: fade;"></span>
                <div class="ls-s1 hidden-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 0px; slidedirection: right; slideoutdirection: right; top: 0px;">
                    <img alt="" src="/Package/Darmanmed/images/gallery/33.png" />
                </div>
                <img alt="" src="/Package/Darmanmed/images/gallery/33.png" class="ls-s6 visible-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 70%; slidedirection: right; slideoutdirection: right; top: 0px;" />
                <span class="ls-s2" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 35px; slidedirection: left; slideoutdirection: left; top: 80px;" /></span>

                @*<a href="@Url.Action("List", "Product")" class="ls-s3" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 190px; slidedirection: bottom; slideoutdirection: bottom; top: 230px;">Marena</a>*@

                <div class="ls-s4 hidden-phone" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 150px; slidedirection: right; slideoutdirection: right; top: 160px;">
                    این کمپانی
                    یکی از بزرگترین و قدیمی ترین
                    تولید کنندگان پروتز های گونه و چانه با ساختار
                    سیلیکون
                    و
                    ePTFE
                    با 25 سال تجربه در امریکا می باشد
                    .
                </div>
                <div class="ls-s5" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 100px; slidedirection: top; slideoutdirection: top; top: 100px;">
                    پروتز های فک و صورت
                    FDA
                </div>
            </div>

            <div class="ls-layer" style="slidedelay: 4000">
                <span class="ls-bg bg3" style="delayin: 0; durationin: 1000; durationout: 1000; easingin: easeOutExpo; right: 0px; slidedisrection: fade;"></span>
                <div class="ls-s1 hidden-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 0px; slidedirection: right; slideoutdirection: right; top: 0px;">
                    <img alt="" src="/Package/Darmanmed/images/gallery/35.png" />
                </div>
                <img alt="" src="/Package/Darmanmed/images/gallery/35.png" class="ls-s6 visible-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 70%; slidedirection: right; slideoutdirection: right; top: 0px;" />
                <span class="ls-s2" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 35px; slidedirection: left; slideoutdirection: left; top: 80px;" /></span>

                @*<a href="@Url.Action("List", "Product")" class="ls-s3" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 190px; slidedirection: bottom; slideoutdirection: bottom; top: 230px;">جزئیات بیشتر...</a>*@
                <div class="ls-s4 hidden-phone" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 150px; slidedirection: right; slideoutdirection: right; top: 160px;">
                    این کمپانی با تجربه چند دهه فعالیت همچنان عنوان یکی از پیشتازان صنعت تولید پروتز های اینترنال در جهان مشغول به کار است
                    که به دلیل کیفیت بالا نسبت به سایر رقبای خود توسط امریکا خریداری شد و به کمپانی
                    امریکایی - فرانسوی تبدیل
                    گردید.
                </div>
                <div class="ls-s5" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 100px; slidedirection: top; slideoutdirection: top; top: 100px;">
                    پروتزهای سینه،باسن و تیشو اکسپندر
                </div>
            </div>

            <div class="ls-layer" style="slidedelay: 4000">
                <span class="ls-bg bg3" style="delayin: 0; durationin: 1000; durationout: 1000; easingin: easeOutExpo; right: 0px; slidedisrection: fade;"></span>
                <div class="ls-s1 hidden-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 0px; slidedirection: right; slideoutdirection: right; top: 0px;">
                    <img alt="" src="/Package/Darmanmed/images/gallery/32.png" />
                </div>
                <img alt="" src="/Package/Darmanmed/images/gallery/32.png" class="ls-s6 visible-phone" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 70%; slidedirection: right; slideoutdirection: right; top: 0px;" />
                <span class="ls-s2" style="delayin: 1000; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 35px; slidedirection: left; slideoutdirection: left; top: 80px;" /></span>

                @*<a href="@Url.Action("List", "Product")" class="ls-s3" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 190px; slidedirection: bottom; slideoutdirection: bottom; top: 230px;">جزئیات بیشتر...</a>*@
                <div class="ls-s4 hidden-phone" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 150px; slidedirection: right; slideoutdirection: right; top: 160px;">
                    این شرکت از گذشته تا حال به دلیل انتخاب محصولات با کیفیت و جلب رضایت مشتریان ، 
                    همواره مورد تایید و انتخاب پزشکان بنام ، همکاران و مشتریان 
                    به عنوان مشاور خود بوده است.

                </div>
                <div class="ls-s5" style="delayin: 2500; durationin: 2000; durationout: 1500; easingin: easeOutElastic; easingout: easeInOutQuint; left: 200px; slidedirection: top; slideoutdirection: top; top: 100px;">
                    شرکت درمان گستر آپادانا
                </div>
            </div>
        </div>
    </div>
</div>
