<link rel="stylesheet" type="text/css" href="/Content/OriginalHoverEffects/style_common.css" />
<link rel="stylesheet" type="text/css" href="/Content/OriginalHoverEffects/style6.css" />
<div class="container">
    <div class="main">
        <!-- SIXTH EXAMPLE -->
        <div class="view view-sixth">
            <img src="/Package/Massageabc/Images/image-hover-1.jpg" alt="دستگاه گردش خون" />
            <div class="mask">
                <h2>دستگاه گردش خون</h2>
                <br/>
                <p style="text-align: justify; direction: rtl">در طول زمان ماساژ عروق باز تر شده و قلب مقدار خون بیشتری را پمپاژ می کند که سبب افزایش جریان خون در بدن می شود.</p>
            </div>
        </div>
        <div class="view view-sixth">
            <img src="/Package/Massageabc/Images/image-hover-2.jpg" border="0" alt="paraben free" />
            <div class="mask">
                <h2>دستگاه گوارش</h2>
                <br/>
                <p style="text-align: justify; direction: rtl">ماساژ به دستگاه گوارش کمک می کند تا عملیات دفع مواد زائد و سمی که در اثر عادات بد غذایی و استرس های روزانه به وجود آمده اند را تسریع بخشد.</p>
            </div>
        </div>
        <div class="view view-sixth">
            <img src="/Package/Massageabc/Images/image-hover-3.jpg" border="0" alt="Coenzyme Q10" />
            <div class="mask">
                <h2>روحی و اعصاب</h2>
                <br/>
                <p style="text-align: justify; direction: rtl">با ماساژ می توان برخی از گرفتگی های عضلانی که بر اثر وجود تنش های روزانه به وجود آمده اند را رفع کرده و همچنین ماساژ با تحریک سیستم عصبی سبب آزاد شدن هرمون هایی می شود که آرامش روحی در فرد را پی دارد.</p>
            </div>
        </div>
    </div>
</div>
