@model HandleErrorInfo

@{
    ViewBag.Title = "خطا";
}
<hgroup class="title">
    <h2>خطا</h2>
    <hr />
</hgroup>

<p>کاربر گرامی، لطفا جهت رفع مشکل به وجود آمده با ادمین تماس حاصل فرمایید.</p>
<p>با تشکر از شما</p>
