@{
    ViewBag.Title = "شرایط و ضوابط دریافت نمایندگی";
    Layout = "~/Views/Shared/_LayouNull.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
</hgroup>
<ul  >
    <li>دریافت  <b>حداقل 10% </b>از هرگونه خریدها یا قرار داد انجام شده توسط نمایندگی ها برای نمایندگی میباشد. </li>
   
    <li>افزایش درصد دریافتی نمایندگی با ازاء   <b> فروش بیشتر از 1 میلیون تومان در ماه  </b>، به ازاء هر 1 میلیون تومان 1% افزایش حق نمایندیگی در ماه بعد برای نمایندگی قرار داده میشود.
        <span style="font-style: italic">(به عنوان مثال اگر نمایندگی 3 میلیون تومان در ماه فروش داشته باشد در ماه بعداش درصد حق نمایندگی اش 13% خواهد بود)</span>
    </li>
   
    <li>
        محاسبه درصد افزایش فروش نمایندگی و پرداخت های آن   <b>1 ام هر ماه</b> صورت می پذیرد.
    </li>
    
    <li>
        غیر فعال شدن نمایندگی و حذف از لیست نمایندگی ها در صورت <b> عدم فعالیت در 3 ماه متوالی</b> 
        <span style="font-style: oblique">
            (اگر نمایندگی 3 ماه متوالی هیچ گونه فروشی نداشته باشد به صورت خودکار غیر قعال خواهد شد) 
        </span>
    </li>
</ul>
<style>
         li {
             margin: 5px 2px 15px 0;
         }
      </style>
