@model dynamic
@{
    ViewBag.Title = "انواع پرداخت الکترونیک";
    Layout = "~/Views/Shared/_LayoutBox.cshtml";
}
<ol>
    <li>
        <h2>پرداخت از اعتبار موجودی کاربری : </h2>
     
        <p>
            شما میتوانید از طریق صفحه کاربری خود و از    <b>@Html.ActionLink("صفحه افزایش موجودی حساب","IncreaseBalance","Account",null, new {@class = "k-button k-button-icontext"})</b>   از طریق پرداخت با هرگونه کارت بانکی طرح شتاب اقدام به افزایش موجودی حساب آنی خود نمائید و سپس از طریق موجودی حساب خود در سایت اقدام به خرید و پرداخت از موجودی حساب خود در تمامی خرید های خود نماید. 
        </p> 
    </li>
    <li>
        <h2>  پرداخت آنلاین با کارت تمامی بانک ها عضو شتاب - درگاه زرین پال : </h2>
         <p>
            لیست بانک هایی که میتوانید با دروازه پرداخت آنها پرداخت خود را با هر کارت عابر بانکی از  "@Html.ActionLink("درگاه زرین پال","ZarinPal", "Help")" انجام دهید.
            </p>

            <a href="@Url.Action("ZarinPal", "Help")" target="_blank"><img alt="بانک ملت" src="~/Images/Common/Bank/ListBank.PNG"/></a>
      
        <p>
            در حال حاضر کارت کلیه بانکهای عضو شتاب قابلیت پرداخت آنلاین را دارا می باشند
            جهت پرداخت آنلاین نیاز به اطلاعات زیر از کارت بانکی عضو شتاب را دارید :
        </p>
       
        
            <ol>
                <li>
                    شماره روی کارت
                </li>
                <li>
                    رمز اینترنتی (رمز دوم)
                </li>
                <li>
                    کد ۳ یا ۴ رقمی cvv2
                </li>
                <li>
                    تاریخ انقضا
                </li>
            </ol>
            <p>
                رمز اینترنتی کارت خود را می توانید از طریق دستگاه های خودپرداز بانک صادر کننده کارت، دریافت نمایید. در مورد کارتهای بانک سامان این رمز به صورت پیش فرض همان رمز اصلی کارت می باشد.
                در برخی از کارتها کد cvv2 در پشت کارت نوشته شده است در مورد برخی از کارتها این کد به محض دریافت رمز اینترنتی توسط خودپرداز به شما ارائه خواهد شد.
                در صورتی که تاریخ انقضا بر روی کارت شما حک نشده است و در هنگام تنظیم رمز اینترنتی کارت توسط خودپرداز به شما ارائه نشده است می توانید هر تاریخی در آینده را وارد نمایید. 
            </p>
    </li>
    <li>
        <h2> پرداخت آفلاین: </h2>
        <p>
            ممکن است شما امکان پرداخت آنلاین نداشته باشید یا اینکه درگاه پرداخت بانکی دچار مشکل شده باشد، در این صورت از روال پرداخت آفلاین باید استفاده کنید.
            در این روش لازم است که به بانک مراجعه کرده و مبلغ مورد نظر خود را به یکی از حسابهایی که در فهرست زیر نمایش داده می شود واریز نمایید یا اینکه از روش کارت به کارت استفاده کنید.
            سپس باید اطلاعات واریز خود را برای تایید ارسال کنید.
            در آن صفحه، از لیست کشویی نوع پرداخت، فیش نقدی یا کارت به کارت را انتخاب کرده و اطلاعات فیش واریزی (یا شماره تراکنش کارت به کارت) را وارد نموده
            و روی دکمه ارسال کلیک کنید.
            با این کار اطلاعات فیش به واحد مالی شرکت ارسال می گردد و معمولا در کمتر از یک روز کاری (در صورت صحت اطلاعات پرداخت) تایید خواهد شد و در حساب شما در سیستم اعتبارات لحاظ می گردد. 
               </p>
    </li>
</ol>

<br/>
<table class="banks" style="box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); direction: rtl; font-family: Tahoma; font-size: 11px; text-align: center; width: 100%" >
    <tbody>
        <tr style="background: none repeat scroll 0 0 #CCCCCC;">
            <th>لوگو بانک</th>
            <th>نام بانک</th>
            <th>شماره شبا</th>
            <th>شماره کارت</th>
            <th>شماره حساب</th>
            <th>صاحب حساب</th>
        </tr>
        <tr >
            <td><a href="https://epayment.bankpasargad.com/PayOrder.aspx"><img alt="بانک پاسارگاد" src="~/Images/Common/Bank/BankPassargad.jpg"/></a></td>
            <td>بانک پاسارگاد</td>
            <td style="font-size: 13px; ">IR360570023380000265259001</td>
            <td style="font-size: 13px; ">7130-0543-2910-5022</td>
            <td style="font-size: 13px; ">1-265259-800-233</td>
            <td>محمدامین محمدخانی منفرد</td>
        </tr>
      
    </tbody>
</table>
<style>
    p {
        text-align: justify;
    }
 .banks   td {
    border: 1px #cccccc inset;
    padding:  0;
}
</style>