@{
    ViewBag.Title = "شرایط و ضوابط دریافت نمایندگی";
    Layout = "~/Views/Shared/_LayouNull.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <hr />
</hgroup>
<ul  >
  
     <li>
        از هر كليك با هر آی پی در هر روز شما میتوانید   <b> ۱۵۰ ریال  </b> كسب درآمد داشته باشد. 
    </li>
    <li>
        در آمد شما در ماه وقتی به 
          <b>30.000 تومان  </b> 
        برسد پرداخت اعتبار شما انجام میشود اگرنه به ماه بعدي موكول ميشود. يعني زماني كه كل درآمد شما به 
        <b>30.000 تومان  </b> 
        رسيد درامد شما به حسابتان واریز میشود. 
    </li>
      <li> عضويت  <b>آزاد  </b> براي كليه صاحبان سايتها و وبلاگ ها. </li>
   
    <li>عدم محدودیت در تعداد سایت </li>
  
</ul>
<style>
         li {
             margin: 5px 2px 15px 0;
             text-align: justify;
         }
      </style>
