@model dynamic
@{
    ViewBag.Title = "نحوه پرداخت آنلاین از درگاه زرین پال";
    Layout = "~/Views/Shared/_LayoutBox.cshtml";
}
<p>
    پس از کلیک بر روی پرداخت آنلاین شما به صفحه پرداخت الکترونیک درگاه زرین پال هدایت می شوید که در این صفحه شما میتوانید درگاه پرداخت خود را از لیست 
        'بانک صادر کننده کارت خورد را انتخاب کنید 'بر روی لوگوی بانک مورد نظر کلیک کنید .

</p>
<img alt="صفحه پرداخت با زرین پال" src="~/Images/Help/ZarinPallIndex.PNG"/>
<p>
    به عنوان مثال بر روی  لوگوی بانک ملت کلیک کرده
     و پرداخت صورتحساب را بزنید سپس به صفحه پرداخت آن بانک برای این مثال بانک ملت هدایت میشوید و سپس مشخصات کارت خود را واد نموده و پرداخت کنید. 
</p>
<img alt="صفحه پرداخت با زرین پال" src="~/Images/Help/PymentBankeMellat.PNG"/>